<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Crescent Home</title>
  <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
  <script src="/js/materialize.min.js"></script>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="/admin" class="brand-logo right">Crescent</a>
    <ul id="nav-mobile" class="left-align hide-on-med-and-down">
      <li><a href="/admin/collections">Collections</a></li>
      <li><a href="/admin/index">Index</a></li>
      <li><a href="/admin/search">Sarch</a></li>
      <li><a href="/admin/dict">Dictionary</a></li>
      <li><a href="/admin/morph">Morph</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- Page Content goes here -->
  <h1>Home</h1>
</div>
</body>
</html>
