<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="headerContainer"></div>
<script>
  includeHTML(document.querySelector('#headerContainer'), '/admin/header');
  function includeHTML(divContainer, urlHTML) {
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4) {
        if (this.status == 200) { divContainer.innerHTML = this.responseText; }
        if (this.status == 404) { divContainer.innerHTML = "Page not found."; }
      }
    }
    xhttp.open("GET", urlHTML, true);
    xhttp.send();
  }
</script>
<body>
<nav th:insert="admin/fragments/header"></nav>
<div class="container">
  <!-- Page Content goes here -->
  <h1>Home</h1>
</div>
<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>
